/* -- General -- */
@import url('https://fonts.googleapis.com/css?family=Give+You+Glory|Liu+Jian+Mao+Cao|Rock+Salt&display=swap');

body {
  background-color: #fffde7;
  padding: 0;
  margin: 0;
  overflow-x:hidden;
  font-family: 'Give You Glory', 'Rock Salt',  'Liu Jian Mao Cao';
  
}

nav .nav-wrapper {
  background-color: #f8bbd0;
  margin-right: 0;
  
}

.title {
  text-align: center;
  color: #795548;
}

h1.title {
  display: none;
  
}

input {
  font-family: 'Give You Glory', 'Rock Salt',  'Liu Jian Mao Cao';
  
}

.filter-btn {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  width: 33% !important;
  
}

.filter-btn input {
  color: white;
  
}

.dropdown-content li>span {
  color: #795548;
  
}

.card-title {
  bottom: 15px !important;
  
}

.card-recipe-info {
  text-align: center;
  position: relative;
  padding: 20px;
 
}

.card-recipe-info a {
  color: #795548;
  
}

.card {
  background-color: #f8bbd0;
  
}

.card-image {
  margin-bottom: 50px;
  margin-top: 20px;
  
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.container-recipe-img-icons-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: -20px;
  
}

.pagination {
  margin-top: 50px;
  
}


/* -- Search box -- */

nav .search-box {
  position: relative;
  height: 100%;
  margin-right: 10px;
  
}

input.search-field {
  width: 1px;
  margin-right: 0;
  padding: 10px 25px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  height: 36px;
  background: #f7f7f7;
  transition: background 0.2s, width .2s;
  
}

input.search-field:hover {
  background: #ebebeb;
  
}

input.search-field:focus {
  width: 100vw;
  padding: 8px 8px 8px 50px;
  
}

.search-icon {
  position: absolute;
  top: 0;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.54);
  
}


/* -- Recipe detail -- */


.recipe-container {
  padding: 10px;
  
}

.recipe-img {
  padding-top: 15px;
  
}

.recipe-image {
  object-fit: cover;
  width: 100%;
  height: 340px;
  
}

.recipe-info {
  display: flex;
  justify-content: center;
  padding: 10px;
  
}

.recipe-extra-info {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  
}

.recipe-category, .recipe-cuisine, .recipe-name, .recipe-description {
  margin-top:0;

}


h6 {
  padding-right: 10px;
  font-weight: 500;
  color: #795548;
  font-size: 1rem;
  
}

span {
  color: rgba(0,0,0,0.87);
  font-style: italic;
  
}

ol {
  padding-left: 18px;
  
}

.recipe-img-icons {
  display: flex;
  justify-content: center;
  bottom: 60px;
  position: relative;
  
  
}

.recipe-img-icons-btn {
  margin-right: 20px;
  
}


/* -- Footer -- */

.page-footer {
  background-color: #f8bbd0;
 
}

.footer-social {
  text-align: center;
 
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 25px;

}

.social-icons a {
  margin-right: 25px;
  
}

.footer-links {
  margin-top: 30px;
  
}


.links {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  
}




/* -- Media Queries -- */
@media (min-width: 600px) { 
  
   /* -- Search box -- */
  
  input.search-field {
    padding: 8px 8px 8px 60px;
    width: 200px;
    
  }
  
  input.search-field:focus {
    width: 100%;
    
  }
  
  .search-icon {
    padding-left: 20px;
    
  }


   /* -- Recipe detail desktop -- */
  
  .recipe-container {
    margin: 20px;
  }
  
  .recipe-info {
    display: block;
    padding: 15px 30px 15px 30px;
    margin-left: 40px;
    
  }
  
  .recipe-info-details {
    width: 25% !important;
  }

  .recipe-extra-info {
    display: block;
    padding: 30px;
    margin-top: 50px;
    margin-left: 40px;
    
  }
  
  .fas, .far {
    padding-right: 15px;
  }
  
  .recipe-category, .recipe-cuisine {
    margin-top:0;
    padding-bottom: 30px;
  
  }
  
  .recipe-serves, .recipe-readyIn, .recipe-difficulty {
    padding-bottom: 25px;
  }
  

  ol {
    padding-left: 18px;
    
  }
  
  .recipe-img-icons {
    display: flex;
    justify-content: center;
    bottom: 60px;
    position: relative;
    
  }
  
  
   /* -- home -- */
   
  .row-one-filter {
    position: relative;
    left: 100px;
    height: 300px;
    
  }
  
   .row-two-filter {
     height: 100px;
     
   }
  
  .filter-btn {
    width: 8% !important;
  }
  
  
  /*-- Footer --*/
  
  .footer-links {
      margin-top: 0;
  }

  
  .links {
    display: block;
    
  }
  
  .links li {
    padding-bottom: 30px;
   
  }
  
}
