/* -- General -- */

body {
  background-color: #fffde7;
  padding: 0;
  margin: 0;
  overflow-x:hidden;
  
}


nav .nav-wrapper {
  background-color: #f8bbd0;
  margin-right: 0;
  
}


/* -- Search box -- */

nav .search-box {
  position: relative;
  height: 100%;
  margin-right: 10px;
  
}

input.search-field {
  width: 1px;
  margin-right: 0;
  padding: 10px 25px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  height: 36px;
  background: #f7f7f7;
  transition: background 0.2s, width .2s;
  
}

input.search-field:hover {
  background: #ebebeb;
  
}

input.search-field:focus {
  width: 100vw;
  padding: 8px 8px 8px 50px;
  
}

.search-icon {
  position: absolute;
  top: 0;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.54);
  
}
  

/* -- Recipe detail -- */


.recipe-container {
  padding: 10px;
}

.title {
  margin-top: 0;
  
}

.recipe-img {
  padding-top: 15px;
}

.recipe-image {
  object-fit: cover;
  width: 100%;
  height: 340px;
  
}

.recipe-info {
  display: flex;
  justify-content: center;
  padding: 10px;
  
}

.recipe-extra-info {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  
}

.recipe-category, .recipe-cuisine, .recipe-name {
  margin-top:0;

}

.recipe-description {
  margin-top:0;
}

h6 {
  padding-right: 10px;
  font-weight: 500;
  color: #795548;
  font-size: 1rem;
  
}

span {
  color: rgba(0,0,0,0.87);
  font-style: italic;
  
}

ol {
  padding-left: 18px;
  
}

.recipe-img-icons {
  display: flex;
  justify-content: center;
  bottom: 60px;
  position: relative;
  
}

.recipe-img-icons-btn {
  margin-right: 20px;
  
}


/* -- Footer -- */

.page-footer {
  background-color: #f8bbd0;
 
}

.footer-social {
  text-align: center;
 
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 25px;

}

.social-icons a {
  margin-right: 25px;
}



/* -- Media Queries -- */
@media (min-width: 600px) { 
  
   /* -- Search box -- */
  
  input.search-field {
    padding: 8px 8px 8px 60px;
    width: 200px;
    
  }
  
  input.search-field:focus {
    width: 100%;
    
  }
  
  .search-icon {
    padding-left: 20px;
    
  }


   /* -- Recipe detail desktop -- */
  
  .recipe-container {
    margin: 20px;
  }
  
  .recipe-info {
    display: block;
    padding: 15px 30px 15px 30px;
    margin-left: 40px;
    
  }
  
  .recipe-info-details {
    width: 25% !important;
  }

  .recipe-extra-info {
    display: block;
    padding: 30px;
    margin-top: 50px;
    margin-left: 40px;
    
  }
  
  .fas, .far {
    padding-right: 15px;
  }
  
  .recipe-category, .recipe-cuisine {
    margin-top:0;
    padding-bottom: 30px;
  
  }
  
  .recipe-serves, .recipe-readyIn, .recipe-difficulty {
    padding-bottom: 25px;
  }
  

  ol {
    padding-left: 18px;
    
  }
  
  .recipe-img-icons {
    display: flex;
    justify-content: center;
    bottom: 60px;
    position: relative;
    
  }
  
}
