{% extends 'base.html' %}
{% block content %}
<h1>All recipes view</h1>

<div class="container get-recipes-container">
  <div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="{{recipe.image}}" alt="cookie image">
            <span class="card-title card-recipe-title">{{recipe.name}}</span>
              <a class="btn-floating waves-effect waves-light red"><i class="material-icons">favorite</i></a>
              <a class="btn-floating waves-effect waves-light red"><i class="material-icons">share</i></a>
              <a class="btn-floating waves-effect waves-light red"><i class="material-icons">bookmark_border</i></a>
        </div>
        <div class="card-recipe-info">
          <p>Category: {{recipe.category}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  
  <!-- Pagination -->
<div class="container pagination-container">
  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
            
{% endblock %}