{% extends 'base.html' %}
{% block content %}
<h1 class="title">All recipes view</h1>
  <div class="container all-recipes-container">
    <h3>Hello All recipes view - recipes</h3>
    <div class="row">
      {% for recipe in recipes %}
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <a href="{{ url_for('recipe_detail', recipes_id=recipe._id) }}"><img class="card-img" src="{{recipe.image}}" alt="{{recipe.name}}-image" ></a>
          </div>
          <div class="card-recipe-info">
            <h4 class="card-title">{{recipe.name}}</h4>
            <h6>{{recipe.cuisine}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}