<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Icon Font -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
        
        <title>Cook Book app</title>
        
        <!--search box-->
        <!--{% with messages = get_flashed_messages() %}-->
        <!--    {% if messages %}-->
        <!--        <ul class=flashes>-->
        <!--        {% for message in messages %}-->
        <!--            <li>{{ message }}</li>-->
        <!--            {% endfor %}-->
        <!--        </ul>-->
        <!--    {% endif %}-->
        <!--{% endwith %}-->
        
    </head>
    <body>
        <!-- Header - Navigation bar -->
        <nav>
            <div class="nav-wrapper">
            <!--sidenav-->
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="static/images/yellow-unsplash.jpg">
                            </div>
                            <a href="#user"><img class="circle" src="static/images/toa-unsplash.jpg"></a>
                            <a href="#name"><span class="white-text name">Mary Jane</span></a>
                        </div>
                    </li>
                    <li><a href="#!"><i class="material-icons">local_dining</i>Link Logo Cook Book</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a class="subheader">Browse</a></li>
                    <li><a class="waves-effect" href="{{url_for('add_recipe')}}">Recipes</a></li>
                    <li><a class="waves-effect" href="{{url_for('add_recipe')}}">My Recipes</a></li>
                    <li><a class="waves-effect" href="{{url_for('add_recipe')}}">Add Recipes</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!--end sidenav-->
                    
                <!--navbar menu-->
                <a class="waves-effect brand-logo center" href="{{url_for('get_recipes')}}">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a class="waves-effect" href="{{url_for('all_recipes')}}">Recipes</a></li>
                    <li><a class="waves-effect" href="{{url_for('list_recipes')}}">My Recipes</a></li>
                    <li><a class="waves-effect" href="{{url_for('add_recipe')}}">Add Recipes</a></li>
                </ul>
                <div class="search-box">
                    <form action="" class="browser-default right">
                        <input id="search-input" placeholder="Find a recipe" type="text" class="browser-default search-field" name="q" value="" autocomplete="off" aria-label="Search box">
                        <label for="search-input"><i class="material-icons search-icon active">search</i></label>
                    </form>
                </div>
            </div>
            <!--end navebar menu-->
        </nav>
        <!--<h1>Is connected, let's Go!</h1>-->
        {% block content %}
        {% endblock %}
        <!-- footer -->
        <footer class="page-footer">
            <div class="container footer-container">
                <div class="row">
                    <div class="col l6 s12 footer-social">
                        <h5 class="white-text footer-title">Follow us</h5>
                        <p class="grey-text text-lighten-4 footer-content">Enjoy cooking!</p>
                        <div class="social-icons">
                            <a class="btn-floating waves-effect waves-light brown"><i class="fab fa-instagram"></i></a>
                            <a class="btn-floating waves-effect waves-light brown"><i class="fab fa-twitter"></i></a>
                            <a class="btn-floating waves-effect waves-light brown"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2019 Marta Paz
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
            
        
        
        <!-- Fontawesome social icons -->
        <script src="https://kit.fontawesome.com/a7bfa3d133.js"></script>
        <!-- jQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Search box -->
        <script type="text/javascript" src="static/js/search-box.js"></script>
        <!-- Collapsible Sidenav  -->
        <script type="text/javascript">
            $(document).ready(function () {
                $('.sidenav').sidenav();
            });
        </script>
        <!-- Form add recipe -->
        <script>
            $(document).ready(function() {
                $('input#input_text, textarea#textarea2').characterCounter();
            });
        </script>
        <!-- Form select -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('select').formSelect();
            });
        </script>
    </body>
</html>