{% extends 'auth_base.html' %} 
{% block content %}
<div class="profile-container">
  <h3>Edit Profile</h3>
    <form method="POST" action="{{ url_for('edit_profile') }}">
      <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="{{ user.author }}" required>
      </div>
      <div>
          <label for="email">Email:</label>
          <div type="email" id="email" name="email" value="{{ user.email }}" readonly>{{ user.email }}</div>
      </div>
      <div>
          <label for="bio">Bio:</label>
          <textarea id="bio" name="bio">{{ user.bio }}</textarea>
      </div>
        <button class="btn waves-effect waves-light right profile-save" type="submit" name="action">Save Changes
        </button>
    </form>
  </div>
{% endblock %}
