{% extends "auth_base.html" %}
{% block content %}
<div class="profile-container">
  <h3 class="profile-title center-align">{{ session["name"] }} Profile</h3>
  <p><strong>Name:</strong> {{ user.name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  {% if user.bio %}
    <p><strong>Bio:</strong> {{ user.bio }}</p>
  {% endif %}
  <div>
    <span class="edit-profile">Edit Profile</span>
    <a class="waves-effect waves-light btn-medium btn-floating" href="{{ url_for('edit_profile') }}" ><i class="material-icons right">edit</i>Edit</a>
    <div class="profile-logout"><a href="{{ url_for('logout') }}">Logout</a></div>
  </div>
  
</div>
{% endblock %}


