{% extends 'base.html' %}
{% block content %}
<h1 class="title">Get recipes view</h1>
  <div class="container get-recipes-container">
    <h3>Hello Get recipes view - recipes</h3>
    <div class="row">
      {% for recipe in recipes %}
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <a href="{{ url_for('recipe_detail', recipes_id=recipe._id) }}"><img class="card-img" src="{{recipe.image}}" alt="{{recipe.name}}-image" ></a>
              
              <div class="container-recipe-img-icons-btn">
                <a class="btn-floating waves-effect waves-light brown fav-btn"><i class="material-icons">favorite</i></a>
                <a class="btn-floating waves-effect waves-light brown share-btn"><i class="material-icons">share</i></a>
                <a class="btn-floating waves-effect waves-light brown bookmark-btn"><i class="material-icons">bookmark_border</i></a>
              </div>
          </div>
          <div class="card-recipe-info">
            <div class="card-title">
              <h5 class="card-title">{{recipe.name}}</h5>
            </div>
            <div class="card-recipe-edit-delete">
              <a class="waves-effect waves-light btn-medium" href="{{ url_for('edit_recipe', recipes_id=recipe._id) }}" ><i class="material-icons right">edit</i>Edit</a>
              <a class="waves-effect waves-light btn-medium" href="{{ url_for('delete_recipe', recipes_id=recipe._id) }}" ><i class="material-icons right">delete</i>Delete</a>
              <a class="waves-effect waves-light btn-medium" href="{{ url_for('recipe_detail', recipes_id=recipe._id) }}" ><i class="material-icons right">check</i>View</a>
            </div>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}