{% extends 'base.html' %}
{% block content %}

<div class="recipe-container">
  
  <div class="recipe-container-top">
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="recipe-img">
          <img class="recipe-image" src= {{ url_for('static', filename = 'images/cookie.jpg') }} alt="cookie image">
        </div>
        <div class="recipe-img-icons">
          <a class="btn-floating waves-effect waves-light brown recipe-img-icons-btn"><i class="material-icons">favorite</i></a>
          <a class="btn-floating waves-effect waves-light brown recipe-img-icons-btn"><i class="material-icons">share</i></a>
          <a class="btn-floating waves-effect waves-light brown recipe-img-icons-btn"><i class="material-icons">bookmark_border</i></a>
        </div>
      </div>
      <div class="col s12 m4 l4 recipe-info-details">
        <div class="recipe-info">
          <h6 class="recipe-category">Category: <span>{{recipe.category}}</span></h6>
          <h6 class="recipe-cuisine">Cuisine: <span>{{recipe.cuisine}}</span></h6>
        </div>
        <div class="recipe-extra-info">
          <h6 class="recipe-serves"><i class="fas fa-utensils"></i> Serves: <span>{{recipe.serves}}</span></h6>
          <h6 class="recipe-readyIn"><i class="far fa-clock"></i> Ready in: <span>{{recipe.readyIn}}</span></h6>
          <h6 class="recipe-difficulty"><i class="far fa-grin-stars"></i> Difficulty: <span>{{recipe.difficulty}}</span></h6>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="recipe-details">
          <div class="recipe-title">
            <h2 class="title recipe-name">{{recipe.name}}</h2>
          </div>
          <h6 class="recipe-description">Description:</h6>
            <p>{{recipe.description}}</p>
          <h6 class="recipe-author-by">By <span class="recipe-author">{{recipe.author}}</span></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="recipe-container-bottom">
    <div class="row">
      <div class="col s12 m4 l4">
        <h6 class="recipe-ingredients">Ingredients:</h6>
        <p>{{recipe.ingredients}}</p>
      </div>
      <div class="col s12 m4 l4">
        <h6 class="recipe-instructions">Instructions:</h6>
          <p>{{recipe.instructions}}</p>
      </div>
      <div class="col s12 m4 l4">
        <h6 class="recipe-tips">Tips:</h6>
          <p>{{recipe.tips}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}