{% extends 'base.html' %}
{% block content %}
<h1 class="title">Get recipes view</h1>
  <div class="container get-recipes-container">
    <h3>View, edit or delete recipes</h3>
    <div class="row">
      {% for recipe in recipes %}
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <a href="{{ url_for('recipe_detail', recipes_id=recipe._id) }}"><img class="card-img" src="{{recipe.image}}" alt="{{recipe.name}}-image" ></a>
          </div>
          <div class="card-recipe-info">
            <div class="card-title">
              <h4 class="card-title grey-text">{{recipe.name}}</h4>
              <h6>{{recipe.cuisine}}</h6>
            </div>
            <div class="card-recipe-edit-delete">
              <a class="waves-effect waves-light btn-medium" href="{{ url_for('edit_recipe', recipes_id=recipe._id) }}" ><i class="material-icons right">edit</i>Edit</a>
              <a class="waves-effect waves-light btn-medium" href="{{ url_for('delete_recipe', recipes_id=recipe._id) }}" ><i class="material-icons right">delete</i>Delete</a>
            </div>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}