{% extends 'base.html' %}
{% block content %}
<div class="container-top">
  <div class="row">
    <div class="col s12 m4 l4">image
      <h6 class="recipe-image">{{recipe.image}}</h6>
    </div>
    <div class="col s12 m4 l4">name
      <h6 class="recipe-name">{{recipe.name}}</h6>
    </div>
    <div class="col s12 m4 l4">author
      <h6 class="recipe-author">{{recipe.author}}</h6>
    </div>
    <!--<div class="col s12 m4 l4">category-->
    <!--  <h6 class="recipe-category">{{recipe.category}}</h6>-->
    <!--</div>-->
  </div>
</div>
<div class="container-middle-top">
  <div class="row">
      <div class="col s12 m6 offset-l4 l3">category
        <h6 class="recipe-category">{{recipe.category}}</h6>
      </div>
      <div class="col s12 m6 offset-l1 l3">description
        <h6 class="recipe-description">{{recipe.description}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 offset-l4 l3">cuisine
        <h6 class="recipe-cuisine">{{recipe.cuisine}}</h6>
      </div>
      <!--<div class="col s12 m6 offset-l1 l3">description-->
      <!--  <h6 class="recipe-description">{{recipe.description}}</h6>-->
      <!--</div>-->
  </div>
</div>
  <div class="container-middle-bottom">
    <div class="row">
      <div class="col s12 m6 offset-l4 l2">serves
        <h6 class="recipe-serves">{{recipe.serves}}</h6>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col s12 m6 offset-l4 l2">ready
        <h6 class="recipe-readyIn">{{recipe.readyIn}}</h6>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col s12 m6 offset-l4 l2">difficulty
        <h6 class="recipe-difficulty">{{recipe.difficulty}}</h6>
      </div>
      <!--<div class="col s12 m6 offset-l2 l4">author-->
      <!--  <h6 class="recipe-author">{{recipe.author}}</h6>-->
      <!--</div>-->
      <div class="col"></div>
  </div>
</div>
<div class="container-bottom">
  <div class="row">
    <div class="col s12 m4 l4">ingredients
      <h6 class="recipe-ingredients">{{recipe.ingredients}}</h6>
    </div>
    <div class="col s12 m4 l4">instructions
      <h6 class="recipe-instructions">{{recipe.instructions}}</h6>
    </div>
    <div class="col s12 m4 l4">tips
      <h6 class="recipe-tips">{{recipe.tips}}</h6>
    </div>
  </div>
</div>
{% endblock %}